.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  margin-top: 20px;
}

.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  margin: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  max-width: 200px; 
  max-height: 300px; 
}

.book img {
  width: 100%; 
  height: auto; 
}

.book:hover {
  transform: scale(1.1);
}